
  <ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen>
      <ul >
        <li nz-menu-group nzTitle="PAGE">
          <ul>
            <li routerLink="/home" nz-menu-item>Home Page</li>
            <li routerLink="/product" nz-menu-item>Product</li>
          </ul>
        </li>
        <li nz-menu-group nzTitle="CONTANCT">
          <ul>
            <li routerLink="/contanct" nz-menu-item>Contanct</li>
            <li routerLink="/aboutus" nz-menu-item >About Us</li>
          </ul>
        </li>
        <li nz-menu-group nzTitle="MANAGEMENT">
          <ul>
            <li routerLink="/dashboard" nz-menu-item>Admin Page</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
